<div class="container">
<form class="form-inline md-form mr-auto mb-4">
  <input class="form-control mr-sm-2" type="text" placeholder="Search by Associate ID" name="Search" [(ngModel)]="AssociateID">
  <button class="btn1" type="submit" (click)="searchbyID()">Search</button>
  </form>
    <table class="table">
      <thead>
        <tr class="row">
          <th> S.No  </th>
          <th> Associate ID </th>
          <th> Name of the associate </th>
          <th> Status </th>
          <th> Action  </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let associateData of courseProgressDetails;let i=index" class="row">
          <td> {{i+1}} </td>
          <td>{{associateData.associateId}}</td>
          <td>{{associateData.associateName}}</td>
          <td>{{associateData.status}}</td>
          <td class="col-sm-2">
          <button type="button" class="btn1" (click)="viewProgressSummary()" >View</button>
          </td>
       </tr>
      </tbody>
    </table>
  </div>


