<div class="modal-header">
  <h4 class="modal-title pull-left">Progress Summary</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <table class="table">
    <thead>
      <tr class="row">
        <th>Title</th>
        <th>Description</th>
        <th>Document type</th>
        <th>Course type</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let course of progressSummary" class="row">
        <td>{{course.title}}</td>
        <td>{{course.desciption}}</td>
        <td>{{course.documentType}}</td>
        <td>{{course.courseType}}</td>
        <td>{{course.completionStatus}}</td>
      </tr>
    </tbody>
  </table>
  </div>